<form class="actionkit-widget" name="signup" action="http://act.weareultraviolet.org/act/" onsubmit="this.submitted=1;return false">
<input type="hidden" name="page" value="ppterroristattacks">
<input type="hidden" name="source" value="stopclinicterror">
<label for="id_name">Name:</label> <input value="" id="id_name" type="text" name="name" placeholder="name" /> 
<label for="id_email">Email:</label> <input value="" id="id_email" type="text" name="email" placeholder="email" /> 
<label for="id_zip">Zipcode:</label> <input value="" id="id_zip" type="text" name="zip" placeholder="zipcode"/> 
<textarea id="id_comment" name="action_comment" placeholder="comment (optional)"></textarea>

<div class="form_actions">
    <input type="submit" value="Sign Up">
</div>

<div class="share_actions">
    <div class='sp_29872 sp_fb_small'></div>
    <div class='sp_29873 sp_tw_small'></div>
    <div class='sp_29871 sp_em_small'></div>
</div>

<div class="form_actions"><p class="disclaimer">You will receive periodic updates about UltraViolet and related campaigns. You may unsubscribe at any time.</p>
</div>

</form>

<div id="signup-replacement" style="display: none;">
    Thank you for signing!
    <div class="share_actions">
        <div class='sp_29872 sp_fb_small'></div>
        <div class='sp_29873 sp_tw_small'></div>
        <div class='sp_29871 sp_em_small'></div>
    </div>
</div>


<script src="http://act.weareultraviolet.org/samples/widget.js"></script>