@import "variables.scss";

html {
  height: 100%;
  padding: 20px 0;
}

body {
  height: 100%;
  background: $black;
  color: $font-color;
  font-family: $font-family;
  line-height: 1.2;
}

h1, h2, h3, button {
  font-family: $font-family-header;
  letter-spacing: 0.5px;
}

.logo h1 {
  img { width: 100%; }
}

h2#totalData {
  //transform: rotate(-3deg);
  font-size: 3rem;
  text-align: right;
}

h3 {
  font-size: 3rem;
}

section#petition {
  margin-top: -20px;
}

section#content.u-pull-right {
  float: right;
  margin-left: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover { color: $link-hover-color; }
}

.warning {
  background: $purple;
  font-size: 2rem;
  padding: 20px 40px;
  text-align: center;
  a { color: $teal; }
}

footer {
  clear: left;
  a.logo {
    display: block;
    width: 50%;
    margin: 0 auto 20px auto;
  }

  margin-bottom: 40px;
}
