#map {
  rect.background {
    cursor: default;
    fill: none;
    pointer-events: all;
  }

  .border {
    fill: $purple;
    stroke: $black;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .bubble {
    fill: $teal;
    stroke: $black;
    stroke-width: 2px;
    cursor: pointer;

    circle {
      &.hidden {
        visibility: hidden;
      }

      &:hover,
      &.active {
        fill: $white;
      }
    }
  }
}

#controls {
  float: right;
  margin-top: -22.5%;
  margin-bottom: 22.5%;

  button {
    background: $teal;
    border: 0;
    border-radius: 0;
    color: $white;
    font-size: 1.5em;
    line-height: 1;
    padding: 0 5px;

    span.icon {
      position: relative;
      top: -2px;
    }
  }
}

#data {
  h3.topline {
    margin-bottom: 10px;
    margin-left: grid-offset-length(6);
    margin-top: -10px;
    transform: rotate(-3deg);
  }

  ul#playback {
    list-style-type: none;
    position: relative;
    top: -50px;
    width: 100%;

    li.year {
      width: 100%;
      margin-left: $column-margin;
      margin-bottom: 0;

      float: left;
      clear: both;

      ul {
        list-style-type: none;

        li.row {
          width: 100%;
          .event {
            float: left;
            width: 25%;
            margin-left: $column-margin;
          }
        }
      }
    }
  }

  .description {
    .location, .date {
      display: block;
      transform: rotate(-3deg);
      font-family: $font-family-header;
      font-size: 2em;
    }

    .text {
      margin-top: -30px;
    }
  }
}
