#map {
	rect.background {
        fill: none;
        pointer-events: all;
        cursor:default;
    }

	.border {
		fill: $purple;
		stroke: $black;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	.bubble {
		fill: $teal;
		stroke: $black;
		stroke-width: 2px;
		cursor: pointer;
		
		circle {
			&.hidden {
				visibility: hidden;
			}

			&:hover, &.active {
				fill: $white;
			}
		}
	}
}

#controls {
	button {
		background: $teal;
		color: $white;
		border: 0;
		border-radius: 0;
	}
}

#data {
	margin-left: 0;
	min-height: 200px;

	div.location {
		display: inline-block;
		transform: rotate(-3deg);
		font-family: $font-family-header;
		font-size: 2em;
		float: left;
	}

	div.date {
		display: inline-block;
		float: right;
		font-size: 1.1em;
		margin-top: 5px;
	}

	p {
		text-align: justify;
		line-height: 1.2;
		clear: both;
	}
}