#map {
  rect.background {
    cursor: default;
    fill: none;
    pointer-events: all;
  }

  .border {
    fill: $purple;
    stroke: $black;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .bubble {
    fill: $teal;
    stroke: $black;
    stroke-width: 2px;
    cursor: pointer;

    circle {
      &:hover, &.active {
        fill: $white;
      }
      &.active {
        opacity: 1;
      }
    }

    .bubble.animating {
      cursor: default;
    }
  }
}

#controls {
  float: right;
  margin-bottom: 100px;
  margin-top: -100px;
  z-index: 10;

  button {
    background-color: $teal;
    border: 0;
    border-radius: 0;
    color: $white;
    font-size: 1.1em;
    height: 25px;
    line-height: 1;
    padding: 0 5px;
    position: relative;
    width: 75px;
    // idk, but makes pointer events work

    .icon {
      position: relative;
      top: -2px;
    }
  }
}

#data {
  h3.topline {
    margin-bottom: 10px;
    margin-left: grid-offset-length(6);
    margin-top: -10px;
    transform: rotate(-3deg);
  }

  ul {
    list-style-type: none;
  }

  .playback {
    position: relative;
    top: -50px;
    width: 100%;

    li.year {
      clear: both;
      float: left;
      margin-bottom: 0;
      margin-left: $column-margin;
      width: 100%;

      h3 { float: left; }
      ul { 
        float: left;
        width: 80%;
        margin: 2rem 0rem 0rem 1rem;
      }
    }

    li.row {
      width: 100%;
      float: left;

      .event {
        float: left;
        width: 32%;
        margin-left: 1%;
      }
    }
  }

  .description + .playback {
    // pull up when followed by playback
    top: 0;
  }

  .description {
    .location,
    .date {
      display: inline-block;
      //transform: rotate(-3deg);
      font-family: $font-family-header;
      font-size: 2em;
    }
  }
}
